<%
  require 'gettext'
  include GetText
  bindtextdomain("helloerb", :path => "locale")
%>
<html>
<head>
<title></title>
</head>
<body>
  <%= _('Hello') %>
  <% case %>
  <% when true %>
  <% end %>
  <%= _('World') %>
</body>
</html>
