name: Test
on:
  - push
  - pull_request
jobs:
  run:
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - head
          - truffleruby-head
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        exclude:
          # macos-latest doesn't provide Ruby 2.5
          - { ruby-version: "2.5", runs-on: macos-latest }
          - { ruby-version: truffleruby-head, runs-on: windows-latest }
    name: ${{ matrix.ruby-version}} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Test
        run: |
          bundle exec rake
